html{
	box-sizing: border-box;
	font-size: 18px;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html, body{
	height: 100%;
}
a{
	display: inline-block;
	text-decoration: none;
	color: $text;
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
button{
	outline: none;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.3;
	color: $text;
	overflow-x: hidden;
}
.container-fluid{
	max-width: 1920px;
	margin: 0 auto;
}
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.img{
	display: block;
	max-width: 100%;
	height: auto;
}
.suptitle{
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1;
}
.title{
	font-size: 2.6rem;
	color: #000;
	font-weight: 700;
	margin-bottom: 20px;
}
.line{
	width: 55px;
	height: 2px;
	background-color: #000;
	margin-bottom: 20px;
}
.line--wht{
	background-color: #fff;
}
.btn{
	font-weight: 300;
	color: #fff;
	padding: 10px 20px;
	background-color: #000;
	border-radius: 25px;
	transition: linear .2s;
	border: 1px solid transparent;
	&:hover{
		color: #000;
		background-color: #fff;
		border: 1px solid #000;
	}
}
.btn--light{
	color: #000;
	background-color: #fff;
	border: 1px solid $text;
	transition: linear .2s;
	&:hover{
		color: #fff;
		background-color: $text;
		border: 1px solid $text;
	}
}
.btn--form{
	cursor: pointer;
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
	padding: 10px 40px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	&::before{
		position: absolute;
		content: '';
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		transform: translateX(100%);
		z-index: -1;
		background-color: #000;
		transition: linear .2s;
	}
	&:hover{
		color: #fff;
		border: 1px solid #fff;
	}
	&:hover:before{
		transform: translateX(0);
	}
}
.heading{
	margin-bottom: 80px;
	font-weight: 300;
	text-align: center;
	font-size: 3.3rem;
}
.centr{
	text-align: center;
}


.slick-arrow{
	border: none;
	background: none;
	cursor: pointer;
	width: 55px;
	height: 55px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: linear .2s;
	&:hover,
	&:focus{
		fill: #fff;
	}
}
.slick-prev{
	left: -50px;
	transform: translateY(-50%) rotate(180deg);
}
.slick-next{
	right: -50px;
}
.arrow__icon{
	display: block;
	height: 55px;
}
.slick-dots{
	display: flex;
	justify-content: center;
	li{
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid #000;
		transition: linear .2s;
		cursor: pointer;
		margin: 0 7px;
	}
	button{
		font-size: 0;
		border: none;
		background: none;
		outline: none;
	}
	.slick-active{
		background-color: #000;
	}
}

.social{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}
.social__item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: linear .2s;
	margin: 0 15px;
	position: relative;
	&::before{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #fff;
		z-index: -1;
		transition: linear .2s;
	}
	&:hover::before{
		transform: scale(0);
	}
	&:hover{
		background-color: #000;
		transform: rotate(360deg);
		.social__icon{
			fill: #fff;
		}
	}
}
.social__icon{
	display: block;
	height: 25px;
	transition: linear .2s;
	fill: #000;
}

// LINE
.hzLine{
	padding-top: 150px;
	width: 100%;
	height: 0px;
	border-bottom: 1px solid $text;
	margin-bottom: 90px;
}
.hzLineFooter{
	width: 100%;
	height: 0px;
	border-bottom: 1px solid $text;
}



// HAMBURGER
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
	user-select: none;
	display: none;
	margin-right: -15px;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line-ham {
  fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #000;
	stroke-width:5.5;
  stroke-linecap:round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

// PRELOADER
.loaderArea {
  background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
 
.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}
 
.loader:before {
  animation: animate 2s infinite linear;
}
 
@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}
 
 
.loader:after {
  animation: animate2 2s infinite linear;
}
 
@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}
